

.divider{
    width:97%;
    margin-left: calc(01.5%);
}

.addReferral {
    display: block;
    text-align: right;
    padding: 15px;
    padding-right: 20px;


    svg {
        margin-top: 10px;
        cursor: pointer;
    }
}