 @import url("https://use.typekit.net/fcz1cql.css");

:root {
  --hover-grey: rgb(235, 68, 68);
  --border-color: rgba(222.32, 226.13, 230.45);
}

.text-high {
  color: var(--mantine-color-red-6);
  text-transform: capitalize;
}

.text-medium {
  color: var(--mantine-color-orange-6);
  text-transform: capitalize;
}

.text-low {
  color: var(--mantine-color-columbia-blue-7);
  text-transform: capitalize
}
/*
:root {
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;

  color: #495867;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin:0;
  padding:0;
} */

/* a {
  font-weight: 500;
  color: #495867;
  text-decoration: none;
}
a:hover {
  color: #BDD5EA;
} */



@media screen and (max-width: 768px) {
   
  .desktop-only{
      display: none!important;
 
  } 
}


@media screen and (max-width: 992px) {
   
  .large-only{
      display: none!important;
 
  } 
}