.activity-item {
    // padding-top: 3px;
    // padding-bottom: 12px;
    height:40px;
    border-bottom: none;
    align-content: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none; 

    transition: ease-out 0.2s;
    * {
        align-content: center;
        align-items: center;
    }

    .delete-confirmation {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        
    }
    
}
.activity-item.hover {

    background-color: rgb(241, 242, 243);    
}


