#navArea {

    .processButton {
        overflow: 'visible';
        
        span:nth-child(2) {
            width:100%;
        }
    }
    a button {
        height: 40px!important;

        .flagContainer {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .mobile-only {
        display: none;
    }

    @media screen and (max-width: 768px){
        .mobile-only {
            display: block;
            width: 100%;
        }
    }
}