.root {
  border-radius: var(--mantine-radius-sm);
  background-color: transparent
}

.item {
  background-color: var(--mantine-color-white-0);
  border: 1px solid transparent;
  position: relative;
  box-shadow: var(--mantine-shadow-md);
  z-index: 0;
  transition: transform 150ms ease;

  &[data-active] {
    transform: scale(1.01);
    z-index: 1;
    background-color: var(--mantine-color-white-0);
    border-color: var(--mantine-color-gray-2);
    box-shadow: var(--mantine-shadow-lg);
    border-radius: var(--mantine-radius-md);
  }

}
