/* Button.module.css */
button{

    padding: 2px 4px; 

    &[data-variant='normal'] {
        height: 30px;
        font-size: 14px;
        color: var(--mantine-color-blue-9);
        background-color: transparent;
        &:hover {
            color: var(--mantine-color-blue-9);
            background-color: var(--mantine-color-columbia-blue-0);
        }
    }

    &[data-variant='dashboard'] {
        height: 38px;
        background-color: var(--mantine-color-columbia-blue-0); /* Assuming columbia-blue-0 is defined in your CSS variables */
        color: var(--mantine-color-blue-9);
        /* Uncomment and modify the line below if you define hover color in CSS variables */
        &:hover {
            color: var(--mantine-color-blue-9);
            background-color: var(--mantine-color-columbia-blue-2);
        } 
    }

    &[data-variant='header'] {
        height: 38px;
        background-color: transparent; /* Assuming columbia-blue-0 is defined in your CSS variables */
        color: "white";
        /* Uncomment and modify the line below if you define hover color in CSS variables */
        &:hover {
            color: white;
            background-color: #8d665b;
        } 
    }



}